n8n-workflows/meta-social-integration/publishing-hub.json
{
  "name": "Publishing Hub",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "publishing-hub",
        "options": {}
      },
      "id": "e4f8a1b2-2001-4000-8000-000000000001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://leadgen-automation-production-12c6.up.railway.app/api/automation/workflows/publish/queue/' + ($json.body && $json.body.id ? $json.body.id : ($json.id || '')) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-secret",
              "value": "27pwgfjvq491aircy8lh6nz3eb5mkus0"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "e4f8a1b2-2002-4000-8000-000000000002",
      "name": "Get Scheduled Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-queue",
              "leftValue": "={{ $json.queue && $json.queue.length ? $json.queue.length : 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "e4f8a1b2-200a-4000-8000-000000000010",
      "name": "Has Items?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "queue",
        "options": {}
      },
      "id": "e4f8a1b2-2003-4000-8000-000000000003",
      "name": "Split Queue Items",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        700,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://leadgen-automation-production-12c6.up.railway.app/api/automation/workflows/accounts/credentials",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-secret",
              "value": "27pwgfjvq491aircy8lh6nz3eb5mkus0"
            }
          ]
        },
        "jsonBody": "={\n  \"platform\": \"{{ $json.platform }}\",\n  \"account_name\": \"{{ $json.account_name }}\",\n  \"post_id\": \"{{ $json.id }}\",\n  \"content\": \"{{ $json.content }}\",\n  \"media_url\": \"{{ $json.media_url }}\",\n  \"audio_id\": \"{{ $json.audio_id || '' }}\",\n  \"location_id\": \"{{ $json.location_id || '' }}\",\n  \"user_tags\": \"{{ $json.user_tags ? JSON.stringify($json.user_tags) : '' }}\",\n  \"media_type\": \"{{ $json.media_type || '' }}\"\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "e4f8a1b2-2004-4000-8000-000000000004",
      "name": "Fetch Page Credentials",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "mode": "expression",
        "output": "={{ $json.platform === 'instagram' ? 1 : 0 }}"
      },
      "id": "e4f8a1b2-2005-4000-8000-000000000005",
      "name": "Route by Platform",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1100,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://graph.facebook.com/v23.0/' + $json.page_id + '/feed' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"{{ $json.content }}\",\n  \"access_token\": \"{{ $json.access_token }}\"\n}",
        "options": {
          "timeout": 20000
        }
      },
      "id": "e4f8a1b2-2006-4000-8000-000000000006",
      "name": "Post Facebook Feed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1300,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://graph.facebook.com/v23.0/' + $json.page_id + '/media' }}",
        "jsonBody": "={{ JSON.stringify({\n  caption: $json.content,\n  access_token: $json.access_token,\n  ...(\n    ($json.media_type === 'reels' || ($json.media_url && ($json.media_url.toLowerCase().includes('/video/upload/') || $json.media_url.toLowerCase().match(/\\.(mp4|webm|mov|avi|mkv|ogg)($|\\?)/))))\n    ? {\n        video_url: $json.media_url,\n        media_type: \"REELS\",\n        ...($json.audio_id ? {\n          audio_configuration: {\n            audio_id: $json.audio_id,\n            audio_volume: 100,\n            video_volume: 50,\n            should_loop_audio: false\n          }\n        } : {})\n      }\n    : {\n        image_url: $json.media_url,\n        ...($json.user_tags ? { user_tags: typeof $json.user_tags === 'string' ? JSON.parse($json.user_tags) : $json.user_tags } : {})\n      }\n  ),\n  ...($json.location_id ? { location_id: $json.location_id } : {})\n}) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "e4f8a1b2-2007-4000-8000-000000000007",
      "name": "Create IG Container",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1300,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://graph.facebook.com/v23.0/' + $('Fetch Page Credentials').item.json.page_id + '/media_publish' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"creation_id\": \"{{ $json.id }}\",\n  \"access_token\": \"{{ $('Fetch Page Credentials').item.json.access_token }}\"\n}",
        "options": {
          "timeout": 20000
        }
      },
      "id": "e4f8a1b2-2008-4000-8000-000000000008",
      "name": "Publish IG Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1500,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://leadgen-automation-production-12c6.up.railway.app/api/automation/workflows/publish/queue/callback",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-secret",
              "value": "27pwgfjvq491aircy8lh6nz3eb5mkus0"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"id\": \"{{ $('Fetch Page Credentials').item.json.post_id }}\",\n  \"status\": \"published\",\n  \"published_id\": \"{{ $json.id }}\",\n  \"published_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "e4f8a1b2-2009-4000-8000-000000000009",
      "name": "Mark Published",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1700,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://leadgen-automation-production-12c6.up.railway.app/api/automation/workflows/publish/queue/callback",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-secret",
              "value": "27pwgfjvq491aircy8lh6nz3eb5mkus0"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"id\": \"\",\n  \"status\": \"failed\",\n  \"error_log\": \"No queue item found for this post ID\"\n}",
        "options": {}
      },
      "id": "e4f8a1b2-200d-4000-8000-000000000022",
      "name": "Mark Not Found",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        700,
        420
      ]
    },
    {
      "parameters": {},
      "id": "e4f8a1b2-200b-4000-8000-000000000020",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        100,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://leadgen-automation-production-12c6.up.railway.app/api/automation/workflows/publish/queue/callback",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-secret",
              "value": "27pwgfjvq491aircy8lh6nz3eb5mkus0"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"id\": \"{{ $('Fetch Page Credentials').item.json.post_id }}\",\n  \"status\": \"failed\",\n  \"error_log\": \"Execution failed: {{ $json.execution.error.message }}\"\n}",
        "options": {}
      },
      "id": "e4f8a1b2-200c-4000-8000-000000000021",
      "name": "Mark Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        300,
        500
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Get Scheduled Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Scheduled Post": {
      "main": [
        [
          {
            "node": "Has Items?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Items?": {
      "main": [
        [
          {
            "node": "Split Queue Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Queue Items": {
      "main": [
        [
          {
            "node": "Fetch Page Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Page Credentials": {
      "main": [
        [
          {
            "node": "Route by Platform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Platform": {
      "main": [
        [
          {
            "node": "Post Facebook Feed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create IG Container",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Facebook Feed": {
      "main": [
        [
          {
            "node": "Mark Published",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create IG Container": {
      "main": [
        [
          {
            "node": "Publish IG Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish IG Post": {
      "main": [
        [
          {
            "node": "Mark Published",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Mark Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "e4f8a1b2-2000-4000-8002-000000000000",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "flowfyp-production"
  },
  "tags": [
    {
      "id": "meta-integration",
      "name": "Meta Integration"
    },
    {
      "id": "publishing",
      "name": "Publishing"
    }
  ]
}