n8n-workflows/communication-hub.json
{
  "name": "Communication Hub",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "meta-communication-inbound",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e4f8a1b2-1001-4000-8000-000000000001",
      "name": "Meta Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.object }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "e4f8a1b2-1002-4000-8000-000000000002",
      "name": "Validate Request",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [280, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/automation/accounts/credentials",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-secret",
              "value": "={{ $env.API_SECRET }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"platform\": \"={{ $json.body.entry[0].messaging ? 'messenger' : ($json.body.entry[0].changes ? 'whatsapp' : 'instagram') }}\",\n  \"page_id\": \"={{ $json.body.entry[0].id }}\"\n}",
        "options": {}
      },
      "id": "e4f8a1b2-1003-4000-8000-000000000003",
      "name": "Fetch Safe Credentials",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [480, 200]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.body.entry[0].messaging ? 'messenger' : ($json.body.entry[0].changes ? 'whatsapp' : 'instagram') }}",
        "rules": {
          "rules": [
            {
              "value2": "messenger",
              "output": 1
            },
            {
              "value2": "instagram",
              "output": 2
            },
            {
              "value2": "whatsapp",
              "output": 3
            }
          ]
        },
        "fallbackOutput": 1
      },
      "id": "e4f8a1b2-1004-4000-8000-000000000004",
      "name": "Platform Router Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [680, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/workflows/orchestrate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-secret",
              "value": "={{ $env.API_SECRET }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event\": \"inbound_message\",\n  \"payload\": {\n    \"body\": \"={{ $json.body.entry[0].messaging[0].message.text }}\",\n    \"channel\": \"messenger\",\n    \"sender\": \"={{ $json.body.entry[0].messaging[0].sender.id }}\"\n  }\n}",
        "options": {}
      },
      "id": "e4f8a1b2-1005-4000-8000-000000000005",
      "name": "Process Messenger & AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/workflows/orchestrate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-secret",
              "value": "={{ $env.API_SECRET }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event\": \"inbound_message\",\n  \"payload\": {\n    \"body\": \"={{ $json.body.entry[0].messaging[0].message.text }}\",\n    \"channel\": \"instagram\",\n    \"sender\": \"={{ $json.body.entry[0].messaging[0].sender.id }}\"\n  }\n}",
        "options": {}
      },
      "id": "e4f8a1b2-1006-4000-8000-000000000006",
      "name": "Process Instagram & AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 250]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/workflows/orchestrate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-secret",
              "value": "={{ $env.API_SECRET }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event\": \"inbound_message\",\n  \"payload\": {\n    \"body\": \"={{ $json.body.entry[0].changes[0].value.messages[0].text.body }}\",\n    \"channel\": \"whatsapp\",\n    \"sender\": \"={{ $json.body.entry[0].changes[0].value.messages[0].from }}\"\n  }\n}",
        "options": {}
      },
      "id": "e4f8a1b2-1007-4000-8000-000000000007",
      "name": "Process WhatsApp & AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"success\",\n  \"received\": true\n}",
        "options": {}
      },
      "id": "e4f8a1b2-1008-4000-8000-000000000008",
      "name": "Respond to Hook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1150, 250]
    }
  ],
  "connections": {
    "Meta Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate Request",
            "index": 0
          }
        ]
      ]
    },
    "Validate Request": {
      "main": [
        [
          {
            "node": "Fetch Safe Credentials",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Safe Credentials": {
      "main": [
        [
          {
            "node": "Platform Router Switch",
            "index": 0
          }
        ]
      ]
    },
    "Platform Router Switch": {
      "main": [
        [
          {
            "node": "Process Messenger & AI",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Instagram & AI",
            "index": 0
          }
        ],
        [
          {
            "node": "Process WhatsApp & AI",
            "index": 0
          }
        ]
      ]
    },
    "Process Messenger & AI": {
      "main": [
        [
          {
            "node": "Respond to Hook",
            "index": 0
          }
        ]
      ]
    },
    "Process Instagram & AI": {
      "main": [
        [
          {
            "node": "Respond to Hook",
            "index": 0
          }
        ]
      ]
    },
    "Process WhatsApp & AI": {
      "main": [
        [
          {
            "node": "Respond to Hook",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "e4f8a1b2-1000-4000-8000-000000000000"
}
