n8n-workflows/lead-intake.json
{
  "name": "Lead Intake Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "leads",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Receive Lead",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "leadgen-intake-webhook"
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// ── Clean Lead Data ─────────────────────────────────────────────────────\n// Input: webhook POST body → { lead: { name, phone, email, city, ... } }\n\nconst body = $input.first().json.body || {};\nconst raw  = body.lead || {};\n\n// Required field check\nif (!raw.name || String(raw.name).trim() === '') {\n  throw new Error('Missing lead name');\n}\n\n// Phone cleaning — keep only + and digits\nconst cleanPhone = (p) => {\n  if (!p) return null;\n  const s = String(p).replace(/^Phone:\\s*/i, '');\n  const d = s.replace(/[^\\d+]/g, '');\n  return d || null;\n};\n\n// Email cleaning\nconst cleanEmail = (e) => {\n  if (!e) return null;\n  const s = String(e).trim().toLowerCase();\n  return s || null;\n};\n\n// Rating validation — must be 1.0–5.0\nconst cleanRating = (r) => {\n  if (r === null || r === undefined || r === '') return null;\n  const f = parseFloat(r);\n  return (!isNaN(f) && f >= 1.0 && f <= 5.0) ? f : null;\n};\n\n// Review count — positive integer\nconst cleanReviewCount = (rc) => {\n  if (!rc) return null;\n  const n = parseInt(String(rc).replace(/[^\\d]/g, ''), 10);\n  return (!isNaN(n) && n > 0) ? n : null;\n};\n\nconst lead = {\n  name:                     String(raw.name).trim(),\n  phone:                    cleanPhone(raw.phone),\n  email:                    cleanEmail(raw.email),\n  address:                  raw.address   ? String(raw.address).trim()   : null,\n  city:                     raw.city      ? String(raw.city).trim()      : 'Unknown',\n  category:                 raw.category  ? String(raw.category).trim()  : null,\n  website:                  raw.website   ? String(raw.website).trim()   : null,\n  rating:                   cleanRating(raw.rating),\n  review_count:             cleanReviewCount(raw.review_count),\n  source:                   raw.source    ? String(raw.source).trim()    : 'google_maps',\n  status:                   'new',\n  notes:                    raw.notes     ? String(raw.notes).trim()     : null,\n  ai_message_whatsapp:      null,\n  ai_message_email_subject: null,\n  ai_message_email_body:    null,\n};\n\nreturn [{ json: lead }];"
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Clean Lead Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/leads",
        "authentication": "none",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=eq.{{ $json.phone }}"
            },
            {
              "name": "select",
              "value": "id"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "Check Duplicate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-001",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "Is New Lead?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/leads",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Clean Lead Data').first().json) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "Save to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 180]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, id: $json[0].id }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a1b2c3d4-0006-4000-8000-000000000006",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 180]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, reason: 'duplicate' }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a1b2c3d4-0007-4000-8000-000000000007",
      "name": "Skip Duplicate",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 420]
    }
  ],
  "connections": {
    "Receive Lead": {
      "main": [
        [
          {
            "node": "Clean Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Lead Data": {
      "main": [
        [
          {
            "node": "Check Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicate": {
      "main": [
        [
          {
            "node": "Is New Lead?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is New Lead?": {
      "main": [
        [
          {
            "node": "Save to Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Supabase": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "tag-leadgen-001",
      "name": "leadgen"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "v1-leadgen-intake"
}
